body {
  background-image: url(assets/stripes.svg);
  /* background-repeat: repeat; */
}

:root {
  --clr-green-400: hsl(82, 32, 61, 100%);
  --clr-purple-400: hsl(286, 18, 48, 100%);
  --clr-blue-400: #3379a5;

  --crl-neutral-100: hsl(0, 0, 44, 100%);
  --crl-neutral-900: hsl(210, 8, 19, 100%);

  --ff-primary: "Open Sans", sans-serif, "Inter", sans-serif;

  --ff-body: var(--ff-primary);
  --ff-heading: var(--ff-primary);

  --fw-light: 300;
  --fw-regular: 400;
  --fw-semi-bold: 600;
  --fw-bold: 700;

  --fs-200: 0.938rem; /* 15 */
  --fs-300: 1.063rem; /* 17 */
  --fs-400: 1.25rem; /* 20 */
  --fs-500: 1.375rem; /* 22 */
  --fs-600: 1.625rem; /* 26 */
  --fs-700: 2.5rem; /* 40 */
}

@media (min-width: 50em) {
  :root {
    --fs-200: 0.625rem;
    --fs-400: 0.75rem;
    --fs-600: 1.125rem;
  }
}

/* https://piccalil.li/blog/a-modern-css-reset */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  font: inherit;
  font-family: "Inter", sans-serif;
  font-family: "Open Sans", sans-serif;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

html,
body {
  height: 100%;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* GENERAL STYLING */

.container {
  --max-width: 1638px;
  --padding: 1rem;

  width: min(var(--max-width), 100% - (var(--padding) * 2));
  margin-inline: auto;
}

.even-columns {
  display: grid;
  gap: 1rem;
}

.flow * {
  outline: 1px solid green;
  /* margin-top: 1em; */
}

@media (min-width: 50em) {
  .even-columns {
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
  }

  .primary-header .container-header {
    padding-top: 30px;
    padding-bottom: 60px;
  }
}

h1 {
  font-size: 40px;
  font-weight: 700;
}

@media screen and (max-width: 50em) {
  h1 {
    font-size: 33px;
  }

  .container {
    margin: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}

/* HEADER */

.container-header {
  --max-width: 1638px;
  --padding: 1rem;

  width: min(var(--max-width), 100% - (var(--padding) * 2));
  margin-inline: auto;
}

.hero-img {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("assets/banner-image.webp");
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  object-fit: cover;
  object-position: 0% 100%;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -100;
}

.primary-header {
  background-color: rgba(0, 0, 0, 0.233);
  border-bottom: solid 1px #ffffff2a;
}

.nav-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-button {
  align-items: center;
  background-color: #ffffff;
  border: 0;
  border-radius: 100px;
  box-sizing: border-box;
  color: var(--clr-blue-400);
  cursor: pointer;
  display: inline-flex;
  font-size: 16px;
  font-weight: 700;
  justify-content: center;
  line-height: 20px;
  max-width: 480px;
  min-height: 40px;
  min-width: 0px;
  overflow: hidden;
  padding: 0px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  vertical-align: middle;
  transition: all 0.2s ease-in-out;
}

.nav-button:hover {
  transform: scale(1.1);
}

.visually-hidden {
  position: absolute;
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

.mobile-nav-btn {
  display: none;
}

@media (max-width: 50em) {
  .mobile-nav-btn {
    display: block;
    cursor: pointer;
    background: transparent;
    border: 0;
    padding: 0.5em;
    color: #ffffff;
    font-size: 2rem;
  }

  .primary-navigation {
    display: none;
  }

  .nav-button {
    display: none;
  }
}

.nav-list {
  font-size: 17px;
  display: flex;
  align-items: center;
  gap: 55px;
}

.nav-list a {
  text-decoration: none;
  color: #ffffff;
  font-weight: 700;
}

/* SECTION 1 CAROUSEL */

@media (min-width: 50em) {
  .top-carousel {
    max-width: 560px;
  }

  .top-carousel h1 {
    margin-top: 120px;
  }

  .top-carousel p {
    font-size: 26px;
    font-weight: 400;
    margin-bottom: 40px;
  }

  .top-carousel button {
    width: 40%;
    margin-right: 30px;
  }

  .btn-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 145px;
  }

  .btn-guide,
  .btn-demo {
    min-height: 50px;
    font-size: 20px;
    transition: all 0.2s ease-in-out;
  }
  .btn-demo:hover,
  .btn-guide:hover {
    transform: scale(1.1);
  }
}

@media (max-width: 50em) {
  .top-carousel {
    max-width: 298px;
    margin: 0;
  }

  .top-carousel p {
    font-size: 18px;
    /* text-align: center; */
    font-weight: 400;
    margin-top: 20px;
  }

  .top-carousel h1 {
    text-align: center;
    margin-top: 20px;
  }

  .top-carousel-nav {
    display: none;
  }

  .btn-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 200px;
    margin-top: 100px;
  }

  .btn-demo,
  .btn-guide {
    min-height: 40px;
    width: 70%;
    font-size: 12px;
  }

  .btn-demo {
    margin-top: 20px;
  }

  .carousel-body {
    margin: auto;
  }
}

.top-carousel p,
h1,
.top-carousel-nav {
  color: #ffffff;
}

.top-carousel-nav {
  cursor: pointer;
  font-size: 2rem;
  margin-bottom: 20px;
}

.btn-guide {
  align-items: center;
  background-color: #ffffff;
  border: 0;
  border-radius: 100px;
  box-sizing: border-box;
  color: var(--clr-blue-400);
  cursor: pointer;
  display: inline-flex;
  font-size: 16px;
  font-weight: 700;
  justify-content: center;
  line-height: 20px;
  max-width: 480px;
  min-width: 0px;
  overflow: hidden;
  padding: 0px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  vertical-align: middle;
}

.btn-demo {
  align-items: center;
  background-color: transparent;
  border: 1px solid #ffffff;
  border-radius: 100px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  font-size: 16px;
  font-weight: 700;
  justify-content: center;
  line-height: 20px;
  max-width: 480px;
  min-width: 0px;
  overflow: hidden;
  padding: 0px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  vertical-align: middle;
}

/* SECTION 2 CARDS */

@media (max-width: 50em) {
  .features,
  .card-btn,
  .card-hr,
  .card-info {
    display: none !important;
  }

  .card-column {
    min-width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
  }

  .card-column h2 {
    min-width: 140px;
  }

  .card-info {
    color: #2c3034;
  }

  .catering {
    background-color: #a4bc7c;
  }

  .retail {
    background-color: #866590;
    margin-bottom: 35px;
  }

  .cards h2 {
    color: #ffffff;
    font-size: 20px;
    font-weight: 400;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .card-logo {
    display: none;
  }

  .card-separater-left,
  .card-separater-right {
    display: none;
  }

  .card-head {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }
}

@media (min-width: 50em) {
  .cards {
    display: grid;
    grid-template-columns: repeat(2, minmax(150px, 2fr));
    /* grid-template-rows: repeat(2, minmax(150px, 2fr)); */
  }

  .mob-logo {
    display: none;
  }

  .card-logo {
    width: 203px;
    height: auto;
    margin-right: 15px;
    /* filter: invert(1);
    filter: invert(44%) sepia(26%) saturate(565%) hue-rotate(241deg)
      brightness(92%) contrast(87%); */
  }

  .upper {
    padding: 35px;
  }

  .upper {
    background-color: #ffffff;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    margin-top: 20px;
    flex-wrap: wrap;
  }

  .upper h2 {
    font-size: 40px;
  }

  .upper p {
    font-size: 26px;
    width: 70%;
    margin-right: 15px;
  }

  .card-column ul {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    list-style-type: disc;
    font-size: 20px;
    font-weight: 400;
  }

  .card-column li {
    margin-left: 20px;
  }

  .features {
    color: #ffffff;
    padding: 20px 35px 20px 35px;
  }

  .features h3 {
    font-weight: 700;
    font-size: 22px;
  }

  .card-column {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .card-hr {
    border: 1px solid rgba(0, 0, 0, 0.137);
    border-radius: 5px;
  }

  .card-head,
  .card-body {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .upper strong {
    font-weight: bold;
  }

  .card-separater-left {
    border-top: 1px solid #a3bc7c;
    width: 7%;
    margin-bottom: 10px;
  }

  .card-separater-right {
    border-top: 1px solid #866590;
    width: 7%;
    margin-bottom: 10px;
  }

  .ll-card {
    background-color: #a4bc7c;
    border-bottom-left-radius: 10px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  }
  .lr-card {
    background-color: #866590;
    border-bottom-right-radius: 10px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  }
  .catering {
    border-top-left-radius: 10px;
    border-right: 1px solid rgba(0, 0, 0, 0.096);
  }
  .retail {
    border-top-right-radius: 10px;
  }

  .info-btn-catering {
    align-items: center;
    background-color: transparent;
    border: 1px solid #a4bc7c;
    border-radius: 100px;
    box-sizing: border-box;
    color: #a4bc7c;
    cursor: pointer;
    display: inline-flex;
    font-size: 20px;
    font-weight: 700;
    justify-content: center;
    line-height: 20px;
    max-width: 30%;
    min-height: 50px;
    min-width: 0px;
    overflow: hidden;
    padding: 0px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    vertical-align: middle;
    transition: all 0.2s ease-in-out;
  }

  .info-btn-retail {
    align-items: center;
    background-color: transparent;
    border: 1px solid #866590;
    border-radius: 100px;
    box-sizing: border-box;
    color: #866590;
    cursor: pointer;
    display: inline-flex;
    font-size: 20px;
    font-weight: 700;
    justify-content: center;
    line-height: 20px;
    max-width: 25%;
    min-height: 50px;
    min-width: 0px;
    overflow: hidden;
    padding: 0px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    vertical-align: middle;
    transition: all 0.2s ease-in-out;
  }

  .info-btn-catering:hover,
  .info-btn-retail:hover,
  .card-btn:hover {
    transform: scale(1.1);
  }

  .catering h2 {
    color: #a4bc7c;
  }
  .retail h2 {
    color: #866590;
  }

  .card-btn {
    align-items: center;
    background-color: #3379a5;
    border: 0;
    border-radius: 100px;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    display: inline-flex;
    font-size: 20px;
    font-weight: 700;
    justify-content: center;
    line-height: 20px;
    max-width: 480px;
    min-height: 65px;
    min-width: 350px;
    overflow: hidden;
    padding: 0px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    vertical-align: middle;
    margin-top: 40px;
    margin-bottom: 40px;
    transition: all 0.2s ease-in-out;
  }

  .card-btn-container {
    display: flex;
    justify-content: center;
  }

  .card-hr {
    margin-bottom: 50px;
  }
}

/* SECTION 3 BLOG CAROUSEL */

.blog-content h3 {
  color: #3379a5;
  font-weight: 700;
}

.blog-title {
  text-decoration: none;
  color: #3379a5;
}

@media (min-width: 50em) {
  .blog-card img {
    max-width: 337px;
    max-height: 220px;
    height: auto;
  }

  .blog {
    margin-bottom: 60px;
  }

  .blog-card {
    background-color: #ffffff;
    display: flex;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  }
  .blog-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    margin-left: 20px;
    margin-right: 50px;
    margin-bottom: 20px;
  }
  .blog-card h3 {
    font-size: 25px;
    font-weight: 700;
  }
  .blog-card p {
    font-size: 20px;
  }
  .read-article {
    font-size: 20px;
    color: #3379a5;
    font-weight: 700;
    text-decoration: none;
  }
}

@media (max-width: 50em) {
  .blog {
    margin-bottom: 75px;
  }
  .blog-content h3 {
    font-size: 16px;
  }

  .blog-card {
    display: flex;
    flex-direction: column-reverse;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  }
  .blog-card img {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }

  .blog-content {
    background-color: #ffffff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 13px;
  }

  .blog-content p {
    font-size: 12px;
  }

  .read-article {
    display: none;
  }
}

/* SECTION 4 TESTIMONIALS */

.testimonials {
  background-color: #ffffff;
}

@media (max-width: 50em) {
  .testimonials {
    min-width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    margin-bottom: 50px;
  }
  .customer-logo {
    width: 85px;
    height: 75px;
  }

  .testimonials h2 {
    font-size: 30px;
    font-weight: 300;
    color: #2c3034;
    margin-bottom: 40px;
  }

  .customer {
    display: flex;
    margin-left: 60px;
    margin-right: 60px;
    margin-bottom: 30px;
  }
  .customer-content h3 {
    color: #3379a5;
    font-size: 12px;
    font-weight: 700;
    margin-bottom: 5px;
  }
  .customer-content p {
    color: #404042;
    font-size: 10px;
  }
  .customer-content {
    margin-top: 10px;
    margin-left: 10px;
  }
}

@media (min-width: 50em) {
  .testimonials {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 100%;
    padding-top: 60px;
    padding-bottom: 70px;
    margin-bottom: 80px;
  }
  .customer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 80px;
    margin-right: 80px;
    gap: 20px;
  }

  .customer-logo {
    max-width: 120px;
    max-height: 110px;
    height: auto;
  }

  .customer {
    display: flex;
  }

  .customer-content {
    margin-left: 20px;
    margin-top: 20px;
  }

  .customer-content h3 {
    color: #3379a5;
    font-size: 18px;
    font-weight: 700;
  }
  .customer-content p {
    font-size: 15px;
    color: #2c3034;
    font-weight: 400;
  }
  .testimonials h2 {
    color: #2c3034;
    font-size: 36px;
    font-weight: 300;
    margin-bottom: 50px;
  }

  .container .white-bg {
    padding: none;
  }
}

/* SECTION 5 ADVANTAGES */

.heading-clr {
  color: #3379a5;
}

@media (min-width: 50em) {
  .advantages-nav {
    display: none;
  }

  .advantages {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .advantage-container {
    display: flex;
    flex-direction: row;
    gap: 100px;
  }

  .advantages h2 {
    font-size: 36px;
    font-weight: 700;
  }
  .adv-sub-heading {
    font-size: 26px;
    color: #2c3034;
    font-weight: 300;
  }

  .advantage {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }

  .icon {
    font-size: 2em;
    color: #3379a5;
  }

  .advantage h3 {
    margin-top: 30px;
    color: #3379a5;
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 10px;
  }
  .advantage p {
    color: #2c3034;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 20px;
  }

  .adv-btn {
    align-items: center;
    background-color: transparent;
    border: 1px solid #3379a5;
    border-radius: 100px;
    box-sizing: border-box;
    color: #3379a5;
    cursor: pointer;
    display: inline-flex;
    font-size: 16px;
    font-weight: 700;
    justify-content: center;
    line-height: 20px;
    max-width: 25%;
    min-height: 55px;
    min-width: 180px;
    overflow: hidden;
    padding: 0px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    vertical-align: middle;
    margin-bottom: 60px;
    transition: all 0.2s ease-in-out;
  }

  .adv-btn:hover {
    transform: scale(1.1);
  }
}

@media (max-width: 50em) {
  .efficiency,
  .monitoring {
    display: none;
  }

  .advantages {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .advantages h2 {
    font-size: 16px;
    font-weight: 700;
  }

  .adv-sub-heading {
    color: #464e55;
    font-size: 14px;
    font-weight: 300;
  }

  .icon {
    color: #3379a5;
    font-size: 2em;
  }

  .advantage h3 {
    color: #3379a5;
    font-weight: 700;
    font-size: 13px;
    margin-top: 10px;
  }

  .advantage p {
    font-size: 12px;
    color: #777778;
    font-weight: 400;
    margin-bottom: 30px;
  }

  .adv-btn {
    align-items: center;
    background-color: #3379a5;
    border: 0;
    border-radius: 100px;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    display: inline-flex;
    font-size: 11px;
    font-weight: 700;
    justify-content: center;
    line-height: 20px;
    max-width: 480px;
    min-height: 30px;
    min-width: 115px;
    overflow: hidden;
    padding: 0px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    vertical-align: middle;
  }

  .advantages-nav {
    color: #3379a5;
    font-size: 1.5em;
    margin-bottom: 30px;
  }
}

/* FOOTER */

@media (min-width: 50em) {
  .even-column {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    padding: 50px 140px 50px 140px;
  }
  .mobile-email {
    display: none;
  }

  .container-white-bg-footer {
    background-color: #ffffff;
  }

  .footer-links h3,
  .contact h3 {
    font-size: 20px;
    font-weight: 700;
    color: #2c3034;
    margin-bottom: 25px;
  }

  .footer-links a {
    text-decoration: none;
    color: #3379a5;
    font-size: 17px;
  }

  .email-link {
    color: #3379a5;
    text-decoration: none;
  }

  .details {
    color: #707070;
    margin-top: 40px;
    font-size: 17px;
    font-weight: 400;
  }

  .address {
    font-weight: 700;
    color: #707070;
    font-size: 17px;
  }

  .credits {
    background-color: #2c3034;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    padding: 30px 120px 30px 120px;
    font-size: 12px;
  }
  .footer-logo-mob {
    display: none;
  }
}

@media (max-width: 50em) {
  .footer-links {
    display: none;
  }

  .even-column {
    display: flex;
    background-color: #2c3034;
    min-width: 100vw;
    color: #ffffff;
    padding: 40px;
  }

  .contact {
    font-size: 12px;
    width: 70%;
    font-weight: 700;
  }

  .contact h3 {
    margin-bottom: 20px;
  }

  .details {
    font-weight: 400;
    margin-top: 20px;
  }

  .footer-logo-mob {
    max-width: 80px;
  }

  .footer-logo {
    display: none;
  }

  .desktop-email {
    display: none;
  }

  .designers {
    display: none;
  }

  .credits {
    background-color: #2c3034;
    color: #ffffff;
    font-size: 10px;
    padding-left: 40px;
  }
}
